In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
import pycountry
import pycountry_convert as pc

In [30]:
df = pd.read_csv('C:\\Users\\Rike\\Documents\\git\\FinalProject\\Suicide_Rates\\suicide homicide gdp.csv')
df.head(40)

,country,iso3c,iso2c,year,"Intentional homicides (per 100,000 people)","Suicide mortality rate (per 100,000 population)",GDP (current US$),"GDP per capita, PPP (current international $)",adminregion,incomeLevel
0,Afghanistan,AFG,AF,1970,NaN,NaN,1.748887e+09,NaN,South Asia,Low income
1,Afghanistan,AFG,AF,1971,NaN,NaN,1.831109e+09,NaN,South Asia,Low income
2,Afghanistan,AFG,AF,1972,NaN,NaN,1.595555e+09,NaN,South Asia,Low income
3,Afghanistan,AFG,AF,1973,NaN,NaN,1.733333e+09,NaN,South Asia,Low income
4,Afghanistan,AFG,AF,1974,NaN,NaN,2.155555e+09,NaN,South Asia,Low income
5,Afghanistan,AFG,AF,1975,NaN,NaN,2.366667e+09,NaN,South Asia,Low income
6,Afghanistan,AFG,AF,1976,NaN,NaN,2.555556e+09,NaN,South Asia,Low income
7,Afghanistan,AFG,AF,1977,NaN,NaN,2.953333e+09,NaN,South Asia,Low income
8,Afghanistan,AFG,AF,1978,NaN,NaN,3.300000e+09,NaN,South Asia,Low income
9,Afghanistan,AFG,AF,1979,NaN,NaN,3.697940e+09,NaN,South Asia,Low income
10,Afghanistan,AFG,AF,1980,NaN,NaN,3.641723e+09,NaN,South Asia,Low income
11,Afghanistan,AFG,AF,1981,NaN,NaN,3.478788e+09,NaN,South Asia,Low income
12,Afghanistan,AFG,AF,1982,NaN,NaN,NaN,NaN,South Asia,Low income
13,Afghanistan,AFG,AF,1983,NaN,NaN,NaN,NaN,South Asia,Low income
14,Afghanistan,AFG,AF,1984,NaN,NaN,NaN,NaN,South Asia,Low income
15,Afghanistan,AFG,AF,1985,NaN,NaN,NaN,NaN,South Asia,Low income
16,Afghanistan,AFG,AF,1986,NaN,NaN,NaN,NaN,South Asia,Low income
17,Afghanistan,AFG,AF,1987,NaN,NaN,NaN,NaN,South Asia,Low income
18,Afghanistan,AFG,AF,1988,NaN,NaN,NaN,NaN,South Asia,Low income
19,Afghanistan,AFG,AF,1989,NaN,NaN,NaN,NaN,South Asia,Low income
20,Afghanistan,AFG,AF,1990,NaN,NaN,NaN,NaN,South Asia,Low income
21,Afghanistan,AFG,AF,1991,NaN,NaN,NaN,NaN,South Asia,Low income
22,Afghanistan,AFG,AF,1992,NaN,NaN,NaN,NaN,South Asia,Low income
23,Afghanistan,AFG,AF,1993,NaN,NaN,NaN,NaN,South Asia,Low income
24,Afghanistan,AFG,AF,1994,NaN,NaN,NaN,NaN,South Asia,Low income
25,Afghanistan,AFG,AF,1995,NaN,NaN,NaN,NaN,South Asia,Low income
26,Afghanistan,AFG,AF,1996,NaN,NaN,NaN,NaN,South Asia,Low income
27,Afghanistan,AFG,AF,1997,NaN,NaN,NaN,NaN,South Asia,Low income
28,Afghanistan,AFG,AF,1998,NaN,NaN,NaN,NaN,South Asia,Low income
29,Afghanistan,AFG,AF,1999,NaN,NaN,NaN,NaN,South Asia,Low income
30,Afghanistan,AFG,AF,2000,NaN,4.9,NaN,NaN,South Asia,Low income
31,Afghanistan,AFG,AF,2001,NaN,5.0,NaN,NaN,South Asia,Low income
32,Afghanistan,AFG,AF,2002,NaN,5.0,4.055180e+09,877.014268,South Asia,Low income
33,Afghanistan,AFG,AF,2003,NaN,5.0,4.515559e+09,927.857548,South Asia,Low income
34,Afghanistan,AFG,AF,2004,NaN,5.0,5.226779e+09,925.441429,South Asia,Low income
35,Afghanistan,AFG,AF,2005,NaN,5.0,6.209138e+09,1023.051749,South Asia,Low income
36,Afghanistan,AFG,AF,2006,NaN,4.9,6.971286e+09,1077.761540,South Asia,Low income
37,Afghanistan,AFG,AF,2007,NaN,4.8,9.747880e+09,1228.703863,South Asia,Low income
38,Afghanistan,AFG,AF,2008,NaN,4.6,1.010931e+10,1272.572975,South Asia,Low income
39,Afghanistan,AFG,AF,2009,3.926774,4.4,1.241616e+10,1519.692923,South Asia,Low income

In [36]:
df2 = pd.read_csv('C:\\Users\\Rike\\Documents\\git\\FinalProject\\Suicide_Rates\\Age_standardized_suicide_rates.csv')
# Alle Spalten anzeigen
pd.set_option('display.max_columns', None)

# Jetzt den DataFrame ausgeben, um alle Spalten zu sehen
df2.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,IsLatestYear,Dim1 type,Dim1,Dim1ValueCode,Dim2 type,Dim2,Dim2ValueCode,Dim3 type,Dim3,Dim3ValueCode,DataSourceDimValueCode,DataSource,FactValueNumericPrefix,FactValueNumeric,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,True,Sex,Male,SEX_MLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,0.00,NaN,0.00,0.0 [0.0-0.0],NaN,NaN,EN,2021-02-08T23:00:00.000Z
1,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,BRB,Barbados,Year,2019,True,Sex,Female,SEX_FMLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.16,NaN,NaN,0.11,NaN,0.22,0.2 [0.1-0.2],NaN,NaN,EN,2021-02-08T23:00:00.000Z
2,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,BRB,Barbados,Year,2019,True,Sex,Both sexes,SEX_BTSX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.31,NaN,NaN,0.22,NaN,0.42,0.3 [0.2-0.4],NaN,NaN,EN,2021-02-08T23:00:00.000Z
3,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,True,Sex,Both sexes,SEX_BTSX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.32,NaN,NaN,0.22,NaN,0.45,0.3 [0.2-0.5],NaN,NaN,EN,2021-02-08T23:00:00.000Z
4,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,BRB,Barbados,Year,2019,True,Sex,Male,SEX_MLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.49,NaN,NaN,0.34,NaN,0.65,0.5 [0.3-0.7],NaN,NaN,EN,2021-02-08T23:00:00.000Z

In [35]:
df2['Indicator'].unique()

array(['Age-standardized suicide rates (per 100 000 population)'],
      dtype=object)

In [47]:
df2['Location'].nunique()

183

In [8]:
df.shape

(13566, 10)

In [9]:
df.dtypes

country                                             object
iso3c                                               object
iso2c                                               object
year                                                 int64
Intentional homicides (per 100,000 people)         float64
Suicide mortality rate (per 100,000 population)    float64
GDP (current US$)                                  float64
GDP per capita, PPP (current international $)      float64
adminregion                                         object
incomeLevel                                         object
dtype: object

In [18]:
print(df['country'].unique(), df['iso3c'].unique(), df['iso2c'].unique())
print(df['country'].nunique(), df['iso3c'].nunique(), df['iso2c'].nunique())

['Afghanistan' 'Africa Eastern and Southern' 'Africa Western and Central'
 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Arab World' 'Argentina' 'Armenia' 'Aruba'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas, The' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bolivia' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'British Virgin Islands' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada'
 'Caribbean small states' 'Cayman Islands' 'Central African Republic'
 'Central Europe and the Baltics' 'Chad' 'Channel Islands' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czech Republic'
 'Denmark' 'Djibouti' 'Dominica' 'Dominican Republic'
 'Early-demographic dividend' 'East Asia & Pacific'
 'East Asia & Pacific (IDA & IBRD countries)'
 'East Asia & Pacific (excluding high income)' 'Ecuador'
 'Egypt, Arab Rep.' 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia'
 'Eswatini' 'Ethiopia' 'Euro area' 'Europe & Central Asia'
 'Europe & Central Asia (IDA & IBRD countries)'
 'Europe & Central Asia (excluding high income)' 'European Union'
 'Faroe Islands' 'Fiji' 'Finland'
 'Fragile and conflict affected situations' 'France' 'French Polynesia'
 'Gabon' 'Gambia, The' 'Georgia' 'Germany' 'Ghana' 'Gibraltar' 'Greece'
 'Greenland' 'Grenada' 'Guam' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Heavily indebted poor countries (HIPC)' 'High income'
 'Honduras' 'Hong Kong SAR, China' 'Hungary' 'IBRD only'
 'IDA & IBRD total' 'IDA blend' 'IDA only' 'IDA total' 'Iceland' 'India'
 'Indonesia' 'Iran, Islamic Rep.' 'Iraq' 'Ireland' 'Isle of Man' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 "Korea, Dem. People's Rep." 'Korea, Rep.' 'Kosovo' 'Kuwait'
 'Kyrgyz Republic' 'Lao PDR' 'Late-demographic dividend'
 'Latin America & Caribbean'
 'Latin America & Caribbean (excluding high income)'
 'Latin America & the Caribbean (IDA & IBRD countries)' 'Latvia'
 'Least developed countries: UN classification' 'Lebanon' 'Lesotho'
 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Low & middle income'
 'Low income' 'Lower middle income' 'Luxembourg' 'Macao SAR, China'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia, Fed. Sts.' 'Middle East & North Africa'
 'Middle East & North Africa (IDA & IBRD countries)'
 'Middle East & North Africa (excluding high income)' 'Middle income'
 'Moldova' 'Monaco' 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique'
 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North America'
 'North Macedonia' 'Northern Mariana Islands' 'Norway' 'Not classified'
 'OECD members' 'Oman' 'Other small states' 'Pacific island small states'
 'Pakistan' 'Palau' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Post-demographic dividend'
 'Pre-demographic dividend' 'Puerto Rico' 'Qatar' 'Romania'
 'Russian Federation' 'Rwanda' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)' 'Slovak Republic'
 'Slovenia' 'Small states' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Asia' 'South Asia (IDA & IBRD)' 'South Sudan' 'Spain' 'Sri Lanka'
 'St. Kitts and Nevis' 'St. Lucia' 'St. Martin (French part)'
 'St. Vincent and the Grenadines' 'Sub-Saharan Africa'
 'Sub-Saharan Africa (IDA & IBRD countries)'
 'Sub-Saharan Africa (excluding high income)' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Tanzania' 'Thailand'
 'Timor-Leste' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States'
 'Upper middle income' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela, RB'
 'Vietnam' 'Virgin Islands (U.S.)' 'West Bank and Gaza' 'World'
 'Yemen, Rep.' 'Zambia' 'Zimbabwe'] ['AFG' 'AFE' 'AFW' 'ALB' 'DZA' 'ASM' 'AND' 'AGO' 'ATG' 'ARB' 'ARG' 'ARM'
 'ABW' 'AUS' 'AUT' 'AZE' 'BHS' 'BHR' 'BGD' 'BRB' 'BLR' 'BEL' 'BLZ' 'BEN'
 'BMU' 'BTN' 'BOL' 'BIH' 'BWA' 'BRA' 'VGB' 'BRN' 'BGR' 'BFA' 'BDI' 'CPV'
 'KHM' 'CMR' 'CAN' 'CSS' 'CYM' 'CAF' 'CEB' 'TCD' 'CHI' 'CHL' 'CHN' 'COL'
 'COM' 'COD' 'COG' 'CRI' 'CIV' 'HRV' 'CUB' 'CUW' 'CYP' 'CZE' 'DNK' 'DJI'
 'DMA' 'DOM' 'EAR' 'EAS' 'TEA' 'EAP' 'ECU' 'EGY' 'SLV' 'GNQ' 'ERI' 'EST'
 'SWZ' 'ETH' 'EMU' 'ECS' 'TEC' 'ECA' 'EUU' 'FRO' 'FJI' 'FIN' 'FCS' 'FRA'
 'PYF' 'GAB' 'GMB' 'GEO' 'DEU' 'GHA' 'GIB' 'GRC' 'GRL' 'GRD' 'GUM' 'GTM'
 'GIN' 'GNB' 'GUY' 'HTI' 'HPC' 'HIC' 'HND' 'HKG' 'HUN' 'IBD' 'IBT' 'IDB'
 'IDX' 'IDA' 'ISL' 'IND' 'IDN' 'IRN' 'IRQ' 'IRL' 'IMN' 'ISR' 'ITA' 'JAM'
 'JPN' 'JOR' 'KAZ' 'KEN' 'KIR' 'PRK' 'KOR' 'XKX' 'KWT' 'KGZ' 'LAO' 'LTE'
 nan 'LAC' 'TLA' 'LVA' 'LDC' 'LBN' 'LSO' 'LBR' 'LBY' 'LIE' 'LTU' 'LMY'
 'LIC' 'LMC' 'LUX' 'MAC' 'MDG' 'MWI' 'MYS' 'MDV' 'MLI' 'MLT' 'MHL' 'MRT'
 'MUS' 'MEX' 'FSM' 'MEA' 'TMN' 'MNA' 'MIC' 'MDA' 'MCO' 'MNG' 'MNE' 'MAR'
 'MOZ' 'MMR' 'NAM' 'NRU' 'NPL' 'NLD' 'NCL' 'NZL' 'NIC' 'NER' 'NGA' 'NAC'
 'MKD' 'MNP' 'NOR' 'INX' 'OED' 'OMN' 'OSS' 'PSS' 'PAK' 'PLW' 'PAN' 'PNG'
 'PRY' 'PER' 'PHL' 'POL' 'PRT' 'PST' 'PRE' 'PRI' 'QAT' 'ROU' 'RUS' 'RWA'
 'WSM' 'SMR' 'STP' 'SAU' 'SEN' 'SRB' 'SYC' 'SLE' 'SGP' 'SXM' 'SVK' 'SVN'
 'SST' 'SLB' 'SOM' 'ZAF' 'SAS' 'TSA' 'SSD' 'ESP' 'LKA' 'KNA' 'LCA' 'MAF'
 'VCT' 'TSS' 'SSA' 'SDN' 'SUR' 'SWE' 'CHE' 'SYR' 'TJK' 'TZA' 'THA' 'TLS'
 'TGO' 'TON' 'TTO' 'TUN' 'TUR' 'TKM' 'TCA' 'TUV' 'UGA' 'UKR' 'ARE' 'GBR'
 'USA' 'UMC' 'URY' 'UZB' 'VUT' 'VEN' 'VNM' 'VIR' 'PSE' 'WLD' 'YEM' 'ZMB'
 'ZWE'] ['AF' 'ZH' 'ZI' 'AL' 'DZ' 'AS' 'AD' 'AO' 'AG' '1A' 'AR' 'AM' 'AW' 'AU'
 'AT' 'AZ' 'BS' 'BH' 'BD' 'BB' 'BY' 'BE' 'BZ' 'BJ' 'BM' 'BT' 'BO' 'BA'
 'BW' 'BR' 'VG' 'BN' 'BG' 'BF' 'BI' 'CV' 'KH' 'CM' 'CA' 'S3' 'KY' 'CF'
 'B8' 'TD' 'JG' 'CL' 'CN' 'CO' 'KM' 'CD' 'CG' 'CR' 'CI' 'HR' 'CU' 'CW'
 'CY' 'CZ' 'DK' 'DJ' 'DM' 'DO' 'V2' 'Z4' 'T4' '4E' 'EC' 'EG' 'SV' 'GQ'
 'ER' 'EE' 'SZ' 'ET' 'XC' 'Z7' 'T7' '7E' 'EU' 'FO' 'FJ' 'FI' 'F1' 'FR'
 'PF' 'GA' 'GM' 'GE' 'DE' 'GH' 'GI' 'GR' 'GL' 'GD' 'GU' 'GT' 'GN' 'GW'
 'GY' 'HT' 'XE' 'XD' 'HN' 'HK' 'HU' 'XF' 'ZT' 'XH' 'XI' 'XG' 'IS' 'IN'
 'ID' 'IR' 'IQ' 'IE' 'IM' 'IL' 'IT' 'JM' 'JP' 'JO' 'KZ' 'KE' 'KI' 'KP'
 'KR' 'XK' 'KW' 'KG' 'LA' 'V3' nan 'XJ' 'T2' 'LV' 'XL' 'LB' 'LS' 'LR' 'LY'
 'LI' 'LT' 'XO' 'XM' 'XN' 'LU' 'MO' 'MG' 'MW' 'MY' 'MV' 'ML' 'MT' 'MH'
 'MR' 'MU' 'MX' 'FM' 'ZQ' 'T3' 'XQ' 'XP' 'MD' 'MC' 'MN' 'ME' 'MA' 'MZ'
 'MM' 'NR' 'NP' 'NL' 'NC' 'NZ' 'NI' 'NE' 'NG' 'XU' 'MK' 'MP' 'NO' 'XY'
 'OE' 'OM' 'S4' 'S2' 'PK' 'PW' 'PA' 'PG' 'PY' 'PE' 'PH' 'PL' 'PT' 'V4'
 'V1' 'PR' 'QA' 'RO' 'RU' 'RW' 'WS' 'SM' 'ST' 'SA' 'SN' 'RS' 'SC' 'SL'
 'SG' 'SX' 'SK' 'SI' 'S1' 'SB' 'SO' 'ZA' '8S' 'T5' 'SS' 'ES' 'LK' 'KN'
 'LC' 'MF' 'VC' 'T6' 'ZF' 'SD' 'SR' 'SE' 'CH' 'SY' 'TJ' 'TZ' 'TH' 'TL'
 'TG' 'TO' 'TT' 'TN' 'TR' 'TM' 'TC' 'TV' 'UG' 'UA' 'AE' 'GB' 'US' 'XT'
 'UY' 'UZ' 'VU' 'VE' 'VN' 'VI' 'PS' '1W' 'YE' 'ZM' 'ZW']
266 264 263

In [21]:
df_short = df.drop(columns = ['incomeLevel', 'GDP (current US$)'])
df_short

,country,iso3c,iso2c,year,"Intentional homicides (per 100,000 people)","Suicide mortality rate (per 100,000 population)","GDP per capita, PPP (current international $)",adminregion
0,Afghanistan,AFG,AF,1970,NaN,NaN,NaN,South Asia
1,Afghanistan,AFG,AF,1971,NaN,NaN,NaN,South Asia
2,Afghanistan,AFG,AF,1972,NaN,NaN,NaN,South Asia
3,Afghanistan,AFG,AF,1973,NaN,NaN,NaN,South Asia
4,Afghanistan,AFG,AF,1974,NaN,NaN,NaN,South Asia
...,...,...,...,...,...,...,...,...
13561,Zimbabwe,ZWE,ZW,2016,NaN,16.8,2806.469032,Sub-Saharan Africa (excluding high income)
13562,Zimbabwe,ZWE,ZW,2017,NaN,15.0,3795.642431,Sub-Saharan Africa (excluding high income)
13563,Zimbabwe,ZWE,ZW,2018,NaN,14.0,4017.221716,Sub-Saharan Africa (excluding high income)
13564,Zimbabwe,ZWE,ZW,2019,NaN,14.1,3783.547898,Sub-Saharan Africa (excluding high income)
13565,Zimbabwe,ZWE,ZW,2020,NaN,NaN,3537.351394,Sub-Saharan Africa (excluding high income)

In [ ]:
# Lnderliste aus den DataFrames extrahieren
countries_df1 = df1['Country'].unique()
countries_df2 = df2['Country'].unique()

# Lnder in beiden DataFrames anzeigen
print("Lnder in df1:", countries_df1)
print("Lnder in df2:", countries_df2)

In [ ]:
# Vergleich der Lnder zwischen df1 und df2
common_countries = set(countries_df1) & set(countries_df2)  # Gemeinsame Lnder
print("Gemeinsame Lnder:", common_countries)

In [40]:
country_mapping = {}
for iso, country in zip(df_short['iso3c'], df_short['country']):
    if iso not in country_mapping:
        country_mapping[iso] = country
        
print(len(country_mapping))

265

In [41]:
# Ersetze die ISO-3 Lnderkrzel mit den Lndernamen in df2
df2['Mapped_Country'] = df2['Location'].map(country_mapping).fillna(df2['Location'])

In [43]:
print(df2[['Location', 'Mapped_Country']].head())

              Location       Mapped_Country
0  Antigua and Barbuda  Antigua and Barbuda
1             Barbados             Barbados
2             Barbados             Barbados
3  Antigua and Barbuda  Antigua and Barbuda
4             Barbados             Barbados

In [46]:
def compare_columns(df, col1, col2):
    # Vergleicht die Werte in col1 und col2 und gibt die Zeilen zurck, bei denen sie unterschiedlich sind
    return df[df[col1] != df[col2]]

abweichende_zeilen = compare_columns(df2, 'Mapped_Country', 'Location')
print(abweichende_zeilen[['Mapped_Country', 'Location']])

Empty DataFrame
Columns: [Mapped_Country, Location]
Index: []