In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('C:\\Users\\Rike\\Downloads\\ALL_LATEST_Sui_deaths.csv')
df.head(50)

,IND_ID,IND_CODE,IND_UUID,IND_PER_CODE,DIM_TIME,DIM_TIME_TYPE,DIM_GEO_CODE_M49,DIM_GEO_CODE_TYPE,DIM_PUBLISH_STATE_CODE,IND_NAME,GEO_NAME_SHORT,DIM_SEX,DIM_AGE,RATE_PER_100000_N,RATE_PER_100000_NL,RATE_PER_100000_NU
0,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2013,YEAR,800,COUNTRY,PUBLISHED,Suicide deaths,Uganda,FEMALE,TOTAL,1.7100,0.9920,2.7900
1,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2005,YEAR,818,COUNTRY,PUBLISHED,Suicide deaths,Egypt,FEMALE,TOTAL,2.3000,1.2200,3.8000
2,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2015,YEAR,818,COUNTRY,PUBLISHED,Suicide deaths,Egypt,TOTAL,TOTAL,3.2800,1.5700,6.1300
3,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2003,YEAR,858,COUNTRY,PUBLISHED,Suicide deaths,Uruguay,MALE,TOTAL,24.7415,21.4430,28.3491
4,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2003,YEAR,860,COUNTRY,PUBLISHED,Suicide deaths,Uzbekistan,TOTAL,TOTAL,9.0200,7.6000,10.5763
5,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2018,YEAR,288,COUNTRY,PUBLISHED,Suicide deaths,Ghana,MALE,TOTAL,11.9277,7.2800,18.2511
6,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2016,YEAR,288,COUNTRY,PUBLISHED,Suicide deaths,Ghana,TOTAL,TOTAL,7.2000,4.4600,10.8393
7,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2008,YEAR,308,COUNTRY,PUBLISHED,Suicide deaths,Grenada,FEMALE,TOTAL,0.6910,0.4780,0.9670
8,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2007,YEAR,686,COUNTRY,PUBLISHED,Suicide deaths,Senegal,FEMALE,TOTAL,3.4500,2.0600,5.4300
9,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2013,YEAR,686,COUNTRY,PUBLISHED,Suicide deaths,Senegal,MALE,TOTAL,9.6300,6.0100,14.7077
10,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2006,YEAR,703,COUNTRY,PUBLISHED,Suicide deaths,Slovakia,TOTAL,TOTAL,14.5038,10.5933,17.6379
11,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2019,YEAR,148,COUNTRY,PUBLISHED,Suicide deaths,Chad,FEMALE,TOTAL,3.3000,1.7700,5.9100
12,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2004,YEAR,434,COUNTRY,PUBLISHED,Suicide deaths,Libya,MALE,TOTAL,6.2500,3.6900,10.2638
13,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2006,YEAR,434,COUNTRY,PUBLISHED,Suicide deaths,Libya,MALE,TOTAL,5.8900,3.5300,9.5800
14,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2011,YEAR,434,COUNTRY,PUBLISHED,Suicide deaths,Libya,MALE,TOTAL,6.8100,3.8200,11.1118
15,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2003,YEAR,324,COUNTRY,PUBLISHED,Suicide deaths,Guinea,TOTAL,TOTAL,5.6000,3.1400,9.2100
16,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2002,YEAR,328,COUNTRY,PUBLISHED,Suicide deaths,Guyana,FEMALE,TOTAL,13.4866,9.4100,56.5445
17,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2003,YEAR,332,COUNTRY,PUBLISHED,Suicide deaths,Haiti,TOTAL,TOTAL,9.2900,4.8400,15.1139
18,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2018,YEAR,352,COUNTRY,PUBLISHED,Suicide deaths,Iceland,TOTAL,TOTAL,10.8088,8.5000,13.4294
19,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2001,YEAR,376,COUNTRY,PUBLISHED,Suicide deaths,Israel,MALE,TOTAL,10.3580,8.8900,11.9930
20,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2014,YEAR,380,COUNTRY,PUBLISHED,Suicide deaths,Italy,FEMALE,TOTAL,3.5000,3.1400,3.8400
21,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2006,YEAR,764,COUNTRY,PUBLISHED,Suicide deaths,Thailand,TOTAL,TOTAL,8.8700,6.1200,12.1917
22,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2004,YEAR,768,COUNTRY,PUBLISHED,Suicide deaths,Togo,TOTAL,TOTAL,10.7563,6.3500,16.7960
23,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2015,YEAR,784,COUNTRY,PUBLISHED,Suicide deaths,United Arab Emirates,FEMALE,TOTAL,3.0100,1.7200,4.9400
24,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2010,YEAR,784,COUNTRY,PUBLISHED,Suicide deaths,United Arab Emirates,MALE,TOTAL,10.1072,6.4300,14.7017
25,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2017,YEAR,222,COUNTRY,PUBLISHED,Suicide deaths,El Salvador,FEMALE,TOTAL,2.2500,1.4700,3.2400
26,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2011,YEAR,226,COUNTRY,PUBLISHED,Suicide deaths,Equatorial Guinea,MALE,TOTAL,15.0187,7.8500,26.6422
27,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2007,YEAR,232,COUNTRY,PUBLISHED,Suicide deaths,Eritrea,MALE,TOTAL,20.0657,10.6442,33.0994
28,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2002,YEAR,703,COUNTRY,PUBLISHED,Suicide deaths,Slovakia,MALE,TOTAL,25.9079,19.7114,48.8340
29,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2007,YEAR,703,COUNTRY,PUBLISHED,Suicide deaths,Slovakia,MALE,TOTAL,24.6682,17.4979,29.9522
30,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2017,YEAR,724,COUNTRY,PUBLISHED,Suicide deaths,Spain,MALE,TOTAL,12.1951,10.1671,14.3710
31,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2008,YEAR,740,COUNTRY,PUBLISHED,Suicide deaths,Suriname,FEMALE,TOTAL,11.5431,8.3400,15.4742
32,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2018,YEAR,246,COUNTRY,PUBLISHED,Suicide deaths,Finland,FEMALE,TOTAL,7.9800,6.3500,9.8400
33,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2000,YEAR,266,COUNTRY,PUBLISHED,Suicide deaths,Gabon,FEMALE,TOTAL,5.3200,3.0800,8.3800
34,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2011,YEAR,300,COUNTRY,PUBLISHED,Suicide deaths,Greece,FEMALE,TOTAL,1.5200,1.2000,1.9000
35,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2017,YEAR,324,COUNTRY,PUBLISHED,Suicide deaths,Guinea,FEMALE,TOTAL,5.0300,2.8200,8.3800
36,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2014,YEAR,688,COUNTRY,PUBLISHED,Suicide deaths,Serbia,MALE,TOTAL,25.9835,19.9774,32.8108
37,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2019,YEAR,688,COUNTRY,PUBLISHED,Suicide deaths,Serbia,TOTAL,TOTAL,11.3593,7.7400,15.9103
38,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2015,YEAR,690,COUNTRY,PUBLISHED,Suicide deaths,Seychelles,TOTAL,TOTAL,8.0200,5.5000,11.1083
39,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2016,YEAR,694,COUNTRY,PUBLISHED,Suicide deaths,Sierra Leone,TOTAL,TOTAL,6.1500,3.3500,10.3066
40,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2012,YEAR,148,COUNTRY,PUBLISHED,Suicide deaths,Chad,MALE,TOTAL,11.2491,6.4300,17.8037
41,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2012,YEAR,174,COUNTRY,PUBLISHED,Suicide deaths,Comoros,FEMALE,TOTAL,3.8800,2.0700,6.6100
42,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2016,YEAR,174,COUNTRY,PUBLISHED,Suicide deaths,Comoros,FEMALE,TOTAL,3.8700,2.1900,6.2500
43,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2007,YEAR,670,COUNTRY,PUBLISHED,Suicide deaths,Saint Vincent and the Grenadines,TOTAL,TOTAL,8.4300,6.2900,11.0078
44,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2007,YEAR,690,COUNTRY,PUBLISHED,Suicide deaths,Seychelles,MALE,TOTAL,13.3395,9.1900,18.2478
45,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2006,YEAR,694,COUNTRY,PUBLISHED,Suicide deaths,Sierra Leone,TOTAL,TOTAL,6.4600,3.4300,10.7848
46,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2001,YEAR,112,COUNTRY,PUBLISHED,Suicide deaths,Belarus,FEMALE,TOTAL,12.0045,10.1387,14.0370
47,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2014,YEAR,132,COUNTRY,PUBLISHED,Suicide deaths,Cabo Verde,MALE,TOTAL,23.8402,14.9188,33.3012
48,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2013,YEAR,152,COUNTRY,PUBLISHED,Suicide deaths,Chile,FEMALE,TOTAL,3.6000,3.0400,4.2100
49,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2004,YEAR,208,COUNTRY,PUBLISHED,Suicide deaths,Denmark,FEMALE,TOTAL,9.5900,7.9000,11.5101

In [6]:
df['DIM_AGE'].unique()

array(['TOTAL', 'Y_GE85', 'Y15T19', 'Y15T24', 'Y15T29', 'Y25T34',
       'Y30T49', 'Y35T44', 'Y45T54', 'Y55T64', 'Y65T74', 'Y75T84'],
      dtype=object)

In [22]:
# get rid of rows with odd age_groups
df = df[~df['DIM_AGE'].isin(['Y15T19', 'Y15T29', 'Y30T49'])]

In [23]:
df.nunique()

year                 20
country             194
DIM_SEX               3
DIM_AGE               9
rate_per_100000    7116
dtype: int64

In [10]:
df.drop(columns = ['IND_ID', 'IND_CODE','IND_UUID', 'IND_PER_CODE', 'DIM_TIME_TYPE', 'DIM_PUBLISH_STATE_CODE', 'IND_NAME' ], inplace=ce = True)

In [15]:
df.drop(columns = ['DIM_GEO_CODE_M49', 'DIM_GEO_CODE_TYPE', 'RATE_PER_100000_NL', 'RATE_PER_100000_NU'], inplace = True)

In [20]:
df.rename(columns = {'GEO_NAME_SHORT' : 'country', 'RATE_PER_100000_N' : 'rate_per_100000', 'DIM_TIME' : 'year'}, inplace= True)

In [27]:
df
# df.shape

       year        country DIM_SEX DIM_AGE  rate_per_100000
0      2013         Uganda  FEMALE   TOTAL           1.7100
1      2005          Egypt  FEMALE   TOTAL           2.3000
2      2015          Egypt   TOTAL   TOTAL           3.2800
3      2003        Uruguay    MALE   TOTAL          24.7415
4      2003     Uzbekistan   TOTAL   TOTAL           9.0200
...     ...            ...     ...     ...              ...
17513  2019           Oman    MALE  Y75T84          15.9600
17514  2019        Algeria    MALE  Y75T84           5.8900
17515  2019        Lesotho    MALE  Y75T84         228.6600
17516  2019    El Salvador   TOTAL  Y75T84           7.6000
17517  2019  Guinea-Bissau  FEMALE  Y75T84          34.7500

[15912 rows x 5 columns]

In [32]:
df_ue85 = df[df['DIM_AGE'] == 'Y_GE85']
df_ue85.tail(50)

,year,country,DIM_SEX,DIM_AGE,rate_per_100000
12119,2019,Uganda,FEMALE,Y_GE85,56.96
12120,2019,Thailand,MALE,Y_GE85,32.27
12121,2019,Congo,MALE,Y_GE85,405.09
12122,2019,Bosnia and Herzegovina,MALE,Y_GE85,116.82
12123,2019,Belarus,FEMALE,Y_GE85,28.45
12124,2019,Albania,TOTAL,Y_GE85,22.84
12125,2019,Italy,TOTAL,Y_GE85,15.79
12126,2019,Finland,MALE,Y_GE85,35.04
12127,2019,Georgia,TOTAL,Y_GE85,36.75
12128,2019,China,MALE,Y_GE85,110.56
12129,2019,Congo,FEMALE,Y_GE85,78.33
12130,2019,Bosnia and Herzegovina,FEMALE,Y_GE85,19.91
12131,2019,Malaysia,FEMALE,Y_GE85,26.83
12132,2019,Benin,TOTAL,Y_GE85,126.42
12133,2019,Armenia,FEMALE,Y_GE85,5.38
12134,2019,Montenegro,FEMALE,Y_GE85,45.78
12135,2019,Samoa,FEMALE,Y_GE85,22.05
12136,2019,Republic of Korea,TOTAL,Y_GE85,113.26
12137,2019,Trinidad and Tobago,MALE,Y_GE85,26.78
12138,2019,Gabon,FEMALE,Y_GE85,55.26
12139,2019,Sri Lanka,FEMALE,Y_GE85,15.36
12140,2019,Algeria,MALE,Y_GE85,10.80
12141,2019,Austria,TOTAL,Y_GE85,34.32
12142,2019,Bahamas,MALE,Y_GE85,24.91
12143,2019,Morocco,TOTAL,Y_GE85,28.45
12144,2019,Libya,FEMALE,Y_GE85,5.65
12145,2019,Cuba,TOTAL,Y_GE85,54.87
12146,2019,Cabo Verde,TOTAL,Y_GE85,95.52
12147,2019,Maldives,MALE,Y_GE85,45.12
12148,2019,Algeria,FEMALE,Y_GE85,6.10
12149,2019,Jordan,TOTAL,Y_GE85,13.69
12150,2019,Democratic People's Republic of Korea,MALE,Y_GE85,188.41
12151,2019,Canada,FEMALE,Y_GE85,5.15
12152,2019,Brunei Darussalam,MALE,Y_GE85,116.49
12153,2019,Peru,TOTAL,Y_GE85,6.27
12154,2019,Zimbabwe,TOTAL,Y_GE85,183.93
12155,2019,Qatar,MALE,Y_GE85,29.88
12156,2019,Oman,MALE,Y_GE85,38.88
12157,2019,Vanuatu,FEMALE,Y_GE85,50.60
12158,2019,Angola,FEMALE,Y_GE85,60.07
12159,2019,Latvia,MALE,Y_GE85,80.18
12160,2019,Mali,TOTAL,Y_GE85,115.69
12161,2019,Denmark,MALE,Y_GE85,56.70
12162,2019,Myanmar,MALE,Y_GE85,24.70
12163,2019,Malaysia,MALE,Y_GE85,46.34
12164,2019,Liberia,MALE,Y_GE85,175.55
12165,2019,Kiribati,MALE,Y_GE85,146.55
12166,2019,Mauritania,TOTAL,Y_GE85,87.12
12167,2019,Iraq,TOTAL,Y_GE85,23.08
12168,2019,Kenya,TOTAL,Y_GE85,158.52